
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <h2>Welcome to Dashboard</h2><br />

    <h4>Select as per the listed categories</h4><br />
    
    <div class="row">
        <div class="col-sm-4">
            <a href="Dashboard/Consultancy"><img src="~/Areas/Admin/Images/consultancy.png" class="img-responsive img-circle" width="50%" height="100" /></a>
        </div>

        <div class="col-sm-4">
            <a href="Dashboard/University"><img src="~/Areas/Admin/Images/University.png" class="img-responsive img-circle" width="50%" height="100" /></a>
        </div>

        <div class="col-sm-4">
            <a href="Dashboard/College"><img src="~/Areas/Admin/Images/College.png" class="img-responsive img-circle" width="50%" height="100" /></a>
        </div>
    </div>
</div>


