<div class="jumbotron" style="padding:0; margin-top:20px;">
    <img src="~/Images/slider.jpg" width="100%" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
            <img src="~/Areas/Admin/Images/consultancy.png" class="img-responsive img-circle" width="50%" height="100" />
        <br />
        <p>
            We provide you the best Consultancy Solutions about the consultancy 
            that every people are most searching for the best consultancy for 
            their further study. Here are full list about the consultancies.
        <p>
            <a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>About Universities</h2>
            <img src="~/Areas/Admin/Images/University.png" class="img-responsive img-circle" width="50%" height="100" />
        <br />
        <p>
            The list of Universities that the consultancies have provided can 
            find out through this section. It is easy to know about the detail 
            as well that which University, where to and how to get just one click.            
        </p>
        <p>
            <a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>About Colleges</h2>
            <img src="~/Areas/Admin/Images/College.png" class="img-responsive img-circle" width="50%" height="100" />
        <p>
            The colleges for Bachelor Degrees can find through the list of searched 
            colleges. Full information and location can also available only for 
            the students to help.
        </p>
        <p>
            <a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a>
        </p>
    </div>
</div>
